@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&display=swap');

html
{ 
    background-color: #3DB1FF;
    padding: 0;
    margin: 0;
}

body
{
    background-color: #3DB1FF;
    padding: 0;
    margin: 0;
    font-family: 'Baloo Bhai 2', cursive;
}

.navbar
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-right: 35px;
    margin: 0;
}

#logoIcon
{
    width: 150px;
    height: 60px;

    margin: 10px 10px 10px 25px;
}

.btn
{
    margin: 10px;
}

.container
{
    align-items: center;
}

.mainPanel
{
    color: white;
    text-align: center;
    font-weight: 200;
    width: 70%;
    height: 50%;

    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
}

.btn
{
    border-radius: 50px;
}

.error
{
    text-align: center;
    margin-bottom: 20px;
    background: rgba(0, 0, 255, 0.4);
    border-radius: 20px;
}

.jumbotron
{
    background: none;
    color: white;
    font-weight: 200;
    width: 70%;
    height: 50%;

    position: absolute;
    top: -75px;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
}

.formElement
{
    font-size: 150%;
}

.formElement input
{
    font-size: 70%;
    outline: none;
    width: 100%;
    height: 5%;
    background: transparent;
    border: none;
    border-bottom: solid 3px white;
    color: #fff;
    font-weight: 700;
    padding: 7px;
    margin-bottom: 10px;

}

.formElement .text-muted
{
    font-size: 75%;
    margin: 0;
    margin-bottom: 20px;
}

.form-check
{
    margin-top: 5px;
}

.form-check input[type="checkbox"]
{
    width: 15px;
    height: 15px;
}

.loginForm .loginBtn, .signupBtn
{
    text-align: center;
}

.navbar .display-4
{
    color: white;
}

.navbar .form
{
    color: white;
    font-size: 110%;
}

.navbar .form .userIcon
{
    font-size: 150%;
    margin-right: 7px;
}

.subjectFormContainer
{
    text-align: center;
    font-weight: 200;
    width: 100%;
    height: 80%;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
    margin-top: 2%;
}


.subjectFormContainer #subjectForm .subjectPanel
{
    text-align: center;
    background: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    height: 65%;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

.subjectFormContainer #subjectForm, .logOutBtn
{
    margin-top: 2%;
}

.quesPanel
{
    color: white;
    text-align: center;
    font-weight: 250%;
    font-size: 115%;
    width: 75%;
    height: 70%;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
    padding: 5%;
}

.quesPanel .quesElement
{
    margin: 0 auto;
    width: 70%;
    margin-bottom: 5%;
}

.quesPanel .quesElement textarea
{
    text-align: center;
    resize: none;
    font-size: 115%;
}

.quesPanel .optionsPanel
{
    width: 75%;
    margin: 0 auto;
    margin-bottom: 5%;
}

.quesPanel .optionsPanel .optionsTable
{
    width: 90%;
    margin: 0 auto;
    text-align: left;
}

.quesPanel .optionsPanel .optionsTable tr td
{
    margin: 0, auto;
}

.quesPanel .btnPanel .btnTable
{
    margin: 0 auto;
    width: 65%;
}

.quesPanel .btnPanel .btnTable .btn
{
    width: 80%;
}

#prevBtn, #nxtBtn
{
    visibility: hidden;
}

.resultPanel, .btnPanel
{
    width: 90%;
    height: 80%;

    text-align: center;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    padding: 1%;
    margin: auto;
}

.btnPanel form, .btnTable
{
    width: 70%;

    text-align: center;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
}

.adminControls
{
    /* position: relative; */
    margin: auto;

    width: 80%;
    height: 80%;
}

.adminControls form
{
    display: flex;
    justify-content: space-between;
}

.firstLoadPanel
{
    text-align: center;
    color: #fff;
}

.addQuesPanel, .deleteQuesPanel, .addSubPanel, .deleteSubPanel, .showQuesPanel, .firstLoadPanel
{
    width: 80%;
    height: 80%;

    /* position: absolute; */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    padding: 3%;
    margin: auto;

}

.addQuesPanel form .quesContainer, .addQuesPanel form .subjectContainer, .addQuesPanel form .ansContainer, .addQuesPanel form .optionsContainer, .addQuesPanel form .btnContainer
{
    width: 85%;
    margin: 2% auto;
}

.addQuesPanel form .optionsContainer .optionsTable
{
    width: 100%;
    margin: auto;
}

.addQuesPanel form .optionsContainer .optionsTable tr td .formElement
{
    font-size: 125%;
    width: 80%;
    margin: auto;
}

.addQuesPanel form .optionsContainer .optionsTable tr td .formElement label
{
    margin: 0;
    padding: 0;
}

.addQuesPanel form .optionsContainer .optionsTable tr td .formElement input
{
    margin: 0;
    margin-bottom: 5%;
    padding: 0;
}

.addQuesPanel form .btnContainer
{
    align-items: center;
}